doctype
html
    head
        title A Far Cry
        script(src="/lib/modernizr.js")
        link(rel="stylesheet" href="/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    body(class="fout")
        != yield
        != partial("_script_loader")
        script.
            load('//use.typekit.net/zhw7wub.js', 'script', function () {
                Typekit.load({
                    active: function () {document.querySelector('body').className = ''}
                });
            });
