header(class="title")
    hgroup(class="title-text")
        h1(class="title-heading") A Far Cry
        h2(class="title-subhead") A song in support of the White Helmets by Canadian Songwriter and Emergency Responder <em>Paul Hookham</em>
        p(class="title-credits") <em>Vocals: Marlon O'Reilly</em>
        audio(src="/track-sample.mp3" class="js-sample-track")
        a(href="#" class="title-play js-play-sample-track")
section(class="page-section quoteblock")
    blockquote(class="big-quote") The Syrian people and the White Helmets risk losing their lives to barrel bombs being dropped by government helicopters.
section(class="page-section footer")
    h2(class="footer-heading") Sign the Petition, Get the Song For Free
    p
        a(href="http://www.whitehelmets.org") Sign the petition
    p
        a(href="/track.mp3") Download <em>A Far Cry</em>
    p
        a(href="mailto:paul@hookham.co") Get in touch with the artist
script.
    document.querySelector('.js-play-sample-track').onclick = function () {
        var track = document.querySelector('.js-sample-track');
        if (track.classList.contains('playing')) {
            track.pause();
            track.classList.remove('playing');
        } else {
            track.play();
            track.classList.add('playing');
        }
    }
