$small: 'screen and (max-width: 768px)';
$medium: 'screen and (min-width: 769px) and (max-width: 1024px)';
$large: 'screen and (min-width: 1025px)';

$washed-fire: #FFF3E6;
$warm-metal: #70533F;
$orange: #FFAE52;
$orange-light: #FFD152;

$font-stack: 'franklin-gothic-urw', 'helvetica neue', 'helvetica', 'sans-serif';
$font-stack-condensed: 'franklin-gothic-urw-comp', 'helvetica neue', 'helvetica', 'sans-serif';

body {
    margin: 0;
    padding: 0;
    background-color: $washed-fire;
    color: $warm-metal;
    font-family: $font-stack;
}

a, a:visited, a:link {
    color: $orange;
}

a:hover {
    color: $orange-light;
}

header.title {
    overflow: hidden;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    text-align: center;

    @media #{$small} {
        max-height: 568px;
        background-image: url(images/title-photo-small.jpg);
    }
    @media #{$medium} {
        max-height: 1024px;
        background-image: url(images/title-photo-medium.jpg);
    }
    @media #{$large} {
        max-height: 900px;
        background-image: url(images/title-photo-large.jpg);
    }

    .cssvhunit & {
        height: 100vh;
    }

    .flexbox & {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title-text {
        text-align: center;
        text-shadow: 0 0 8px rgba(#996C5C, .5);
        .fout & { display: none }
    }

    .title-heading {
        margin: .5em 0 0;

        font-family: $font-stack-condensed;
        font-weight: 700;
        text-transform: uppercase;

        @media #{$small} { font-size: 4rem; }
        @media #{$medium} { font-size: 6rem; }
        @media #{$large} { font-size: 8rem; }
    }

    .title-subhead {
        max-width: 600px;
        margin: 0 auto 1em;
        padding: 0 1rem;

        font-family: $font-stack-condensed;
        font-style: italic;
        font-weight: 400;

        @media #{$small} { font-size: 1.5rem; }
        @media #{$medium} { font-size: 1.75rem; }
        @media #{$large} { font-size: 2rem; }

        > em { font-style: normal; }
    }

    .title-play {
        display: block;
        margin: 0 auto;

        background-repeat: no-repeat;
        background-size: cover;

        @media #{$small} {
            width: 80px; height: 80px;
            background-image: url(images/play-small.png);
        }
        @media #{$medium} {
            width: 92px; height: 92px;
            background-image: url(images/play-medium.png);
        }
        @media #{$large} {
            width: 104px; height: 104px;
            background-image: url(images/play-large.png);
        }
    }
}

.page-section {
    padding: 4rem 1rem;

    &.white {
        background-color: white;
    }
}

.quoteblock {
    background-color: white;
    box-shadow: 0 8px 16px rgba($orange, .16);
    color: #444;
    font-weight: 300;
    text-align: center;

    > blockquote {
        max-width: 680px;
        margin: 0 auto;
    }

    .big-quote {
        margin-bottom: 2rem;

        @media #{$small} { font-size: 1.25rem; }
        @media #{$medium} { font-size: 1.5rem; }
        @media #{$large} { font-size: 1.75rem; }
    }
    .small-quote {
        @media #{$small} { font-size: 1.25rem; }
        @media #{$medium} { font-size: 1.25rem; }
        @media #{$large} { font-size: 1.5rem; }
    }
}

.petition {

    .petition-title {
        text-align: center;

        .petition-subhead {
            margin: 0;
            font-weight: 400;

            @media #{$small} { font-size: 1rem; }
            @media #{$medium} { font-size: 1.25rem; }
            @media #{$large} { font-size: 1.25rem; }
        }

        .petition-headline {
            margin-top: .32rem;
            font-family: $font-stack-condensed;
            text-transform: uppercase;

            @media #{$small} { font-size: 2rem; }
            @media #{$medium} { font-size: 3rem; }
            @media #{$large} { font-size: 4rem; }
        }
    }

    blockquote {
        max-width: 600px;
        margin: 0 auto;
        padding: 0;
    }

    .petition-email {
        position: relative;
        max-width: 440px;
        margin: 4rem auto 0;

        .petition-email-input {
            box-sizing: border-box;
            width: 100%; height: 48px;
            padding-left: 1rem; padding-right: 80px;
            border: none;
            box-shadow: 0 0 4px rgba($orange, .32);

            color: $warm-metal;
            font-size: 1rem;

            &:focus {
                outline: none;
                box-shadow: 0 0 12px $orange;
            }

            &::placeholder {
                color: #FFE499;
            }
        }

        .petition-email-submit {
            position: absolute;
            top: 0; right: -3px; bottom: 0;
            width: 80px;
            background: $orange;
            border: none;
            border-radius: 0;
            color: white;
            font-family: $font-stack-condensed;
            font-size: 1.5rem;
            line-height: 0;
            text-transform: uppercase;
        }
    }
}

.footer {
    font-size: 1.25rem;
    text-align: center;
}
